.titles-big{
    font-family: $font-titles-black;
}
.font-titles-md{
    font-family: $font-titles-md;
}
.font-internas{
    font-family: $font-internas;
    line-height: 1.8;
    font-size: .9em;
    text-align: justify;
    @media (max-width:575px){
        width:100%;
        padding: 0;
        font-size: 1.15em;
    }
}
/*colors*/
.color-primary{
    color: $color-primary;
}
.color-secondary{
    color: $color-secondary;
}
.color-white{
    color: $color-white;
}
.color-black {
    color: $color-black;
}
/*BACKGROUND*/
.bg-black{
    background-color: $color-black;
}
/*padding*/
.px-0{
    padding-left: 0;
    padding-right: 0;
}
.pl-0{
    padding-left: 0;
}
.pr-0{
    padding-right: 0;
}
.w-100{
    width: 100%;
}
/*margin*/
.m0Auto {
    margin: 0 auto;
}
.margin0 {
    margin: 0;
}
/*FLOAT*/
.floatR {
    float: right;
}
.floatL {
    float: left;
}
/*TEXT*/
.textR {
    text-align: right;
}
.textUppercase {
    text-transform: uppercase;

}
.blur-bg {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    z-index: -1;
}
.bg-shadow {
  position: absolute;
  top: 0;
  width: 100%;  
  height: 70vh;
  z-index: 3;
}

.btn-vrCircle {
    color: $color-primary;
    background: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em 0.5em .4em;
    font-weight: bold;
    opacity: 0;
    @media (max-width:991px){
        display: block;
        color: white;
        background: $color-primary;
        font-size: 1.1em;
        opacity: 1;
    }
}
.img-spinner {
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: auto;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    -webkit-animation: girarcircle 9s linear infinite;
    animation: girarcircle 9s linear infinite;
    //display: none;
    opacity: 0;
}
/*GIRAR CIRCLES SPPINER*/
@-webkit-keyframes girarcircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes girarcircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.overflow-h {
    overflow: hidden;
}
.forma-spinner {
    position: absolute;
    z-index: -1;
}
.forma-esquina,
.forma-spinner {
    @media (max-width:1024px) {
        display: none;
    }
}