$color-primary: #6eb344;
$color-secondary: #44850f;
$color-gray: #dcdfe0;
$color-black: #000;
$color-white:#fff;
$color-border : #ececec;
/*typografía*/
$font-titles-black:'montserratblack';
$font-titles-md:'montserratmedium';
$font-internas:'montserratregular';
/*btns*/
$color-btn: #44850f;