.section-sct-description {
    position: relative;
    .forma-spinner {
        bottom: -31%;
        right: -24%;
        -webkit-transform: rotate(-31deg);
        -ms-transform: rotate(-31deg);
            transform: rotate(-31deg);
    }
}
.main-customers {
    .content-img {
        width: 94%;
        height: 32em;
    }    
}