.sct-banner{
    position: relative;
    height: auto;
    width: 100%;
    .content-img-banner{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .content-text-banner{
        height: 79%;
        z-index: 1;
        top: 0;
        position: absolute;
        text-transform: uppercase;
        color:$color-white;
        left: 5%;
        right: 0;

        .title-big-banner{
            font-size: 2.5em;
            letter-spacing: 2px;
        }
        .subtitle-banner{
            font-size: 2em;
        }
    }
}
.content-ancla {
    position: absolute;
    bottom: 5%;
    left: 3%;
    .h1-text-Rotate {
        -webkit-writing-mode: vertical-lr;
            -ms-writing-mode: tb-lr;
                writing-mode: vertical-lr;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    .icon-flecha {
        font-size: 5.5em;
        float: left;
        margin-top: 45px;
    }
    .h1-text-Rotate,
    .icon-flecha{
        float: left;
    }
}
.content-img-banner.vh,
.content-img-banner.vh img {
    height: 100vh;
    object-fit: cover;
}