.accordion {
    margin: 0 auto 100px;
    border-top: 1px solid #d9e5e8;

    .li-accordion {
        border-bottom: 1px solid #d9e5e8;
        position: relative;

        .list-subProducts {
            display: none;
            padding: 0px 25px 20px;
            font-size: 1.3em!important;
        }
    }

    .titles-subProducts {
        width: 100%;
        display: block;
        cursor: pointer;
        font-size: 1.5em!important;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        margin-bottom: 0 !important;
        

        &:after {
            width: 8px;
            height: 8px;
            border-right: 1px solid #4a6e78;
            border-bottom: 1px solid #4a6e78;
            position: absolute;
            right: 10px;
            content: " ";
            top: 17px;
            -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
    }

    .titles-subProducts,
    .list-subProducts {
        padding: 18px;
        line-height: 1.3;
    }

    .titles-subProducts.active:after {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
}