.btn-container {

    .btn {
        background-color: $color-btn;
        border: none;
        border-radius: 5px;
        height: 2.5em;
        padding: 0 2.3em;
        cursor: pointer;
        font-size: 1em;
        color: $color-white;
        font-weight: 600;
        letter-spacing: 1px;
        border: 3px solid $color-btn;
        -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                    transition: all 0.3s;
        &:hover {
            background-color: white;
            border-color: $color-btn;
            color: $color-btn
        }
    }
}
.btn-modals {
    &:hover{
        color: $color-secondary ;
        text-decoration: underline;
    }
}