.sct-navbar-products {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -100px;
    z-index: 10;

}
.wrapper-navP {
    padding: 1em;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: center;
    position: relative;
    display: inline-block;
    .img-spinner {
        width: 100%;
        height: 98%;
    }

}
.contenedor-navP {
    background: $color-border;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    text-align: center;
    position: relative;
    display: inline-block;
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
    color: $color-black;
    z-index: 1;
    .info-nav {
        width: 82%;
        height: 82%;
        border-radius: 50%;
        background-color: $color-white;
        display: inline-block;
        margin: auto;
        text-align: center;
        top: 0;
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        padding: 1.7em 0;
        -webkit-transition: ease .3s;
        -o-transition: ease .3s;
        transition: ease .3s;

        .icon-nP {
            color: $color-primary;
            font-size: 2.8em;
        }
        .font-titles-md {
            font-size: .9em;
            margin-top: 14px;
        }
    }
}
.wrapper-navP:hover,
.wrapper-navP.active {
    .contenedor-navP {
        -webkit-transform: scale(1.08);
            -ms-transform: scale(1.08);
                transform: scale(1.08);
        color: $color-white;
    }
    .info-nav {
        width: 88%;
        height: 88%;
        background-color: $color-primary;
        .icon-nP,
        .font-titles-md {
            color: $color-white;
        }
    }
    .img-spinner {
        opacity: 1;
    }
}

@media (max-width:698px) {
    .sct-navbar-products {    
        height: 18em;
        margin-top: 1.5em;
        overflow-x: scroll;
        white-space: nowrap;
        width: 100%;
        z-index: 10;
        -webkit-overflow-scrolling: touch;
        display: block;
        &::-webkit-scrollbar-track {
            background-color: #6fb34485;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-primary;
        }
        &::-webkit-scrollbar {
            height: 12px;
        }
    }
}
@media (max-width:1125px) {
    .sct-navbar-products.nb-serv {    
        height: 18em;
        margin-top: 1.5em;
        overflow-x: scroll;
        white-space: nowrap;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        display: block;
        &::-webkit-scrollbar-track {
            background-color: #6fb34485;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-primary;
        }
        &::-webkit-scrollbar {
            height: 12px;
        }
    }
}
@media (min-width:1200px) and (max-width:1560px) {
    .sct-navbar-products.nb-serv {
        .contenedor-navP {
            width: 10em;
            height: 10em;
            .info-nav .font-titles-md {
                font-size: 0.7em;
                margin-top: 8px;
            }
        }
    }
}