*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
html {
    font-size: 18px;
    @media (max-width:575px) {
        font-size: 11px;
    }
    @media (min-width:576px) and (max-width:767px) {
        font-size: 12px;
    }
    @media (min-width:768px)and(max-width:1199px){
        font-size: 13px;
    }
    @media (min-width:1200px)and(max-width:1400px){
        font-size: 15px;
    }
}