.footer {
    padding: 1em 0;
    >.container{
        width: 90%;
    }
    .text-f {
        color: $color-white;
        font-size: .9em;
        line-height: 1.5;
    }
    .text-credits{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        opacity: .4;
        line-height: 1.5;
    }
    .icon-footer{
        font-size: 1.7em;
        padding-right: .4em;
        color: $color-white;
    }
}
.dres-mob {
    display: none;
}