.sct-description-products {
    padding-top: 11em;
    position: relative;
    margin-top: -9px;
    .titles-big-products {

        .title-primary,
        .icon-desc-products {
            color: $color-secondary;
            text-transform: capitalize;
        }

        .icon-desc-products {
            font-size: 5em;
        }

        .title-primary {
            font-size: 3em;
            margin-top: .4em;
        }

        .title-secondary {
            font-size: 2em;
            margin-bottom: .9em;
        }
    }

    .img-products {
        width: 100%;
        margin-bottom: 3em;

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
        }
    }

    .content-img-one {
        height: 34em;
    }

    .content-img-two {
        height: 22.2em;
    }

    .content-img-three {
        height: 40em;
    }

    .content-subProducts {
        margin-bottom: 1.8em;
        @media (max-width:575px) {
            width:100%
        }

        .titles-subProducts {
            color: $color-secondary;
            text-transform: capitalize;
            font-size: 1.3em;
            margin-bottom: .8em;
        }

        .list-subProducts {
            list-style: none;

            .item-subProducts {
                background-image: url('../../assets/images/icons/circle.svg');
                background-repeat: no-repeat;
                background-position: center left;
                padding-left: .8em;
                background-size: 6px;
                margin-bottom: 8px;
                font-size: .8em;
                text-transform: capitalize;
            }
        }
    }
    .forma-spinner {
        top: -4%;
        left: -47%;
        -webkit-transform: rotate(71deg);
        -ms-transform: rotate(71deg);
            transform: rotate(71deg);
        width: 100%;
        z-index: -1;
    }
    .forma-esquina {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 13em;
        z-index: -1;
    }
}
.wrapper_subproduct {
    -moz-column-width: 15em;
    -webkit-column-width: 15em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em; 
    .content-subProducts {
        display: inline-block;
        width:  100%; 
    }
}